<div class="container px-5 px-sm-0 mt-5">
  <div class="row">
    <h2>フォロワー一覧</h2>
        <table class="table table-borderless table-dark text-center" style="opacity: 0.8;">
          <thead>
            <td></td>
            <td>ユーザー名</td>
            <td>当店の利用回数</td>
          </thead>
          <tbody>
          <% @markers.each do |marker| %>
            <tr>
              <td><%= attachment_image_tag(marker.enduser, :profile_image, :fill, 100, 100, size:"30x30", fallback: "no_image.png") %></td>
              <td><%= link_to marker.enduser.name, store_marker_path(marker), class:"text-white" %></td>
              <td><%= marker.enduser.orders.joins(:order_details).where(order_details: {store_id:current_store}).distinct.count %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>