<% if post.favorited_by?(current_enduser) %>
  <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
    <p class="text-danger"><i class="fas fa-heart">  <%= post.favorites.count %></i></p>
  <% end %>
<% else %>
  <%= link_to post_favorites_path(post), method: :post, remote: true do %>
    <p style="color:#333;"><i class="fas fa-heart">  <%= post.favorites.count %></i></p>
  <% end %>
<% end %>