<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      ===============================<br>
            <%= @store.name %>様     <br>
      ===============================<br>
    </p>
    <p>
      管理者が<%= @store.name %>様のアカウントを当サイトにとって不適切なものと判断したため、アカウントが無効化されました。
    </p>
    <br>
    <p>
       ===============================<br>
                 Foodhub 管理人       <br>
       ===============================<br>
    </p>
  </body>
</html>