<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
       ===============================<br>
             <%= @store.name %>様     <br>
       ===============================<br>
    </p>
    <br>
    <p>お待たせいたしました。</p>
    <br>
    <p>
      管理者から<%= @store.name %>様のアカウントが有効化されました。
    </p>
    <br>
    <p>
      このサイトにログインするには、<br>
      こちら<%= @url %><br>
      をクリックしてください。
    </p>
    <p>
      本サイトにご登録いただきありがとうございます。<br>
      今後とも よろしくお願いいたします。<br>
    </p>
    <p>
      ===============================<br>
              Foodhub 管理人         <br>
      ===============================<br>
    </p>
  </body>
</html>