<div class="mt-3 mx-auto">
  <%= paginate followings, :param_name => 'following_page' %>
  <table class="table table-borderless table-dark table-hover text-center mb-5" style="opacity: 0.8;">
    <tbody>
      <tr>
        <th class="text-center"><h5>followings</h5></th>
      </tr>
    <% followings.each do |following| %>
      <tr>
        <td>
          <%= attachment_image_tag(following, :profile_image, size:"30x30", fallback: "no_image.png") %>
          <%= link_to following.name, enduser_path(following), class:"text-white" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>