<div class="container px-sm-0 mt-5">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <%= render 'public/endusers/index', endusers: @endusers %>
    </div>
    <div class="text-center">
      <%= paginate @endusers, :param_name => 'enduser_page' %>
    </div>
    <div class="col-md-3">
      <%= render 'public/endusers/followings', followings: @followings %>
      <%= render 'public/endusers/followers', followers: @followers %>
    </div>
  </div>
</div>