/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "slick-theme";
@import "slick";

.logo>img {
  width: 300px;
  height: 75px;
}

.navbar-toggler {
  margin-right: 80px;
}

.notifications {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8%;
  top: 33%;
}

.unchecked {
  text-align: center;
  height: 17px;
  width: 17px;
  background:rgba(255,69,0,0.8) ;
  border-radius: 9px;
  position: absolute;
  right: -6%;
  top: 0%;
}

.unchecked-public {
  text-align: center;
  height: 17px;
  width: 17px;
  background:rgba(255,69,0,0.8) ;
  border-radius: 9px;
  position: absolute;
  right: -200%;
  top: 0%;
}

.unchecked_items {
  text-align: center;
  height: 17px;
  width: 17px;
  background:rgba(255,69,0,0.8) ;
  border-radius: 9px;
  position: absolute;
  right: -30%;
  top: 0%;
}

/* 文字が多い場合改行せずに...に省略 */
.card-title, .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination>li>a {
  border: none;
  color: #696969;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

/*デバイスフラッシュメッセージのデザイン*/
.alert,.alert-notice {
  color: white;
  text-align: center;
  background-color:#696969 ;
}

/*検索タグのデザイン*/

.search {
  position: absolute;
  right: 0%;
  top: 12%;
  font-size: 15px;
  z-index: 10;
}

.search input[type="text"] {
  width: 150px;
  height: 20px;
  border-radius: 5px;
}

.search select[name="range"] {
  width: 85px;
  height: 20px;
  border-radius: 5px;
}

.search select[name="search"] {
  width: 85px;
  height: 20px;
  border-radius: 5px;
}

.search input[type="submit"] {
  width: 45px;
  height: 23px;
  background-color: white;
  border-radius: 10px;
}

/*ここまで*/

.rank_item:hover {
  transform: scale(1.1);
}
